body {
  margin: 0px;
}

ul {
  list-style: disc;
}

.no-bullets {
  list-style: none;
}

.social-links {
  height: 20px;
}

.profile-photo {
  margin: auto;
  width: 20%;
}

.process-img {
  margin: auto;
  width: 75%;
}
