html {
  height: 100%;
}

body {
  margin: 0px;
}

ul {
  list-style: disc;
}

.no-bullets {
  list-style: none;
}

.social-links {
  height: 20px;
}

.profile-photo {
  margin: auto;
  width: 20%;
}

.process-img {
  margin: auto;
  width: 75%;
}

.boxed {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
}

.boxed p {
  opacity: 1.0;
}
