{{ define "content" }}
  <div class="main-container">
    <section class="cover fullscreen image-slider slider-all-controls controls-inside parallax">
      <ul class="slides">
        <li class="overlay image-bg">
          <div class="background-image-holder">
            <img alt="image" class="background-image" src="/images/portraits-saeam-954.jpg">
          </div>
          <div class="container v-align-transform">
            <div class="row">
              <div class="boxed col-md-6 pull-right">
                <h1 class="mb40 mb-xs-16">I'm Saeam and I design experiences.</h1>
                <p class="lead mb0">
                  I am a product designer interested in human psychology with a BA in cognitive science from UC Berkeley. Love to use design to solve problems and create smooth experiences in the digital or physical world.
                  <br>
                  <br>
                  Design accomplishes a lot of things but I think my favorite capability would be that it helps people accomplish their goals.
                  <br>
                  <br>
                  When I am not designing, I am playing video games, watching puppy videos, or eating ice cream (sometimes without shame all at once).
                  <br>
                  <br>Currently based in San Francisco, California.
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </section>


  </div>
{{ end }}
