{{ define "content" }}
  <div class="main-container">
    <section class="cover fullscreen image-slider slider-all-controls controls-inside parallax">
      <ul class="slides">
        <li class="overlay image-bg">
          <div class="background-image-holder">
            <img alt="image" class="background-image" src="/images/portraits-saeam-954.jpg">
          </div>
          <div class="container v-align-transform">
            <div class="row">
              <div class="boxed col-md-6 pull-right">
                <h1 class="mb40 mb-xs-16">I'm Saeam and I design experiences.</h1>
                <p class="lead mb30">
                  I am a product designer interested in human psychology with a BA in cognitive science from UC Berkeley. I am fascinated by how people interact with each other and technology.
                  <br>
                  <br>
                  Design accomplishes a lot of things but I think my mission would be to help people accomplish their goals.
                  <br>
                  <br>
                  When I am not designing, I love to create whether it is through cooking, photography, or sewing.
                  <br>
                  <br>Feel free to contact me through my email.
                </p>
                <div class="about-social-icons mb0">
                  <a href="https://dribbble.com/saeam">
                    {{ partial "dribbble.svg" . }}
                  </a>
                  <a href="https://www.linkedin.com/in/saeamkwon">
                    {{ partial "linkedin.svg" . }}
                  </a>
                  <a href="https://medium.com/@saeam">
                    {{ partial "medium.svg" . }}
                  </a>
                  <a href="https://twitter.com/minikwons">
                    {{ partial "twitter.svg" . }}
                  </a>
                  <a href="mailto:saeamkwon@gmail.com">
                    {{ partial "mail.svg" . }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </section>


  </div>
{{ end }}
