{{ define "content" }}
  <div class="main-container">
    <section class="pb0">
      <div class="container">
        <div class="row mb64 mb-xs-24">
          <div class="col-sm-12 text-center">
            <div class="profile-photo">
              <img alt="Pic" src="/images/circle-profile.png">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
            <h2>S A E A M &nbsp;K W O N</h2>
            <p class="lead mb40 mb-xs-24">User experience and user interface designer interested in human psychology. Love to use design to solve problems in the digital or physical world. Currently based in San Francisco, California.</p>
          </div>
        </div>
      </div>
    </section>


    <section class="image-edge">
      <div class="col-md-6 col-sm-4 p0">
        <img alt="Screenshot" class="mb-xs-24" src="/images/stroll-health-mock.jpg">
      </div>
      <div class="container">
        <div class="col-md-5 col-md-offset-1 col-sm-7 col-sm-offset-1 v-align-transform right">
          <h1 class="mb40 mb-xs-16">Stroll Health</h1>
          <h6 class="uppercase mb16">lead ux researcher &amp; ux/ui designer</h6>
          <p class="lead mb40">
            Creating a dashboard from scratch to help healthcare systems gain insight on value based referrals for the benefit of their patients and business.
          </p>
          <a class="btn-lg btn btn-filled" href="/stroll-health">Read case study</a>
        </div>
      </div>
    </section>


    <section class="image-edge">
      <div class="col-md-6 col-sm-4 p0 col-md-push-6 col-sm-push-8">
        <img alt="Screenshot" class="mb-xs-24" src="/images/pilotly-mock.jpg">
      </div>
      <div class="container">
        <div class="col-md-5 col-md-pull-0 col-sm-7 col-sm-pull-4 v-align-transform">
          <h1 class="mb40 mb-xs-16">Pilotly</h1>
          <h6 class="uppercase mb16">ux researcher &amp; ux/ui designer</h6>
          <p class="lead mb40">
            Redesigning the survey creation process to be a quick and easy procedure while maintaining a sleek visual.
          </p>
          <a class="btn-lg btn btn-filled" href="/pilotly">read case study</a>
        </div>
      </div>
    </section>


    <section class="image-edge pb0">
      <div class="col-md-6 col-sm-4 p0">
        <img alt="Screenshot" class="mb-xs-24" src="/images/quad-mock.jpg">
      </div>
      <div class="container">
        <div class="col-md-5 col-md-offset-1 col-sm-7 col-sm-offset-1 v-align-transform right">
          <h1 class="mb40 mb-xs-16">Quad</h1>
          <h6 class="uppercase mb16">visual &amp; ux/ui designer</h6>
          <p class="lead mb40">
            App for college students to help keep track of their academics so they stress less and enjoy their college experience more!
          </p>
          <a class="btn-lg btn" href="#">coming soon!</a>
        </div>
      </div>
    </section>


  </div>
{{ end }}
