{{ define "content" }}
  <div class="main-container">
    <section class="page-title page-title-1 image-bg overlay">
      <div class="background-image-holder">
        <img alt="Background Image" class="background-image" src="img/background_image copy 3.jpg">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h2 class="mb0 uppercase">Saeam Kwon<br></h2>
          </div>
          </div>
      </div>
    </section>

    <section class="image-edge">
      <div class="col-md-6 col-sm-4 p0">
        <img alt="Screenshot" class="mb-xs-24" src="img/Stroll Health iPad cropped.png">
      </div>
      <div class="container">
        <div class="col-md-5 col-md-offset-1 col-sm-7 col-sm-offset-1 v-align-transform right">
          <h1 class="mb40 mb-xs-16">Designing a more transparent healthcare.</h1>
          <h6 class="uppercase mb16">stroll health</h6>
          <p class="lead mb40">
            We've built three distinct image and text combinations for you to showcase the features of your product or service. All combos come in left and right arrangements.
          </p>
          <a class="btn-lg btn btn-filled" href="#">Read case study</a>
        </div>
      </div>
    </section>


    <section class="image-edge">
      <div class="col-md-6 col-sm-4 p0 col-md-push-6 col-sm-push-8">
        <img alt="Screenshot" class="mb-xs-24" src="img/Pilotly iPad copy.png">
      </div>
      <div class="container">
        <div class="col-md-5 col-md-pull-0 col-sm-7 col-sm-pull-4 v-align-transform">
          <h1 class="mb40 mb-xs-16">Making getting feedback easier.</h1>
          <h6 class="uppercase mb16">Pilotly</h6>
          <p class="lead mb40">
            We've built three distinct image and text combinations for you to showcase the features of your product or service. All combos come in left and right arrangements.
          </p>
          <a class="btn-lg btn btn-filled" href="#">read case study</a>
        </div>
      </div>
    </section>


    <section class="image-edge">
      <div class="col-md-6 col-sm-4 p0">
        <img alt="Screenshot" class="mb-xs-24" src="img/Quad iPhone cropped.png">
      </div>
      <div class="container">
        <div class="col-md-5 col-md-offset-1 col-sm-7 col-sm-offset-1 v-align-transform right">
          <h1 class="mb40 mb-xs-16">Making college less stressful.</h1>
          <h6 class="uppercase mb16">Quad</h6>
          <p class="lead mb40">
            We've built three distinct image and text combinations for you to showcase the features of your product or service. All combos come in left and right arrangements.
          </p>
          <a class="btn-lg btn" href="#">coming soon!</a>
        </div>
      </div>
    </section>


  </div>
{{ end }}
