{{ define "content" }}
  <div class="main-container" style="min-height: 100%">
    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="lightbox-grid square-thumbs" data-gallery-title="Gallery">
              <ul>
                <li>
                  <a href="/images/illustration/scenery.png" data-lightbox="true">
                    <div class="background-image-holder">
                      <img alt="image" class="background-image" src="/images/illustration/scenery.png">
                    </div>
                  </a>
                </li>
                <li>
                  <a href="/images/illustration/berkeley.png" data-lightbox="true">
                    <div class="background-image-holder">
                      <img alt="image" class="background-image" src="/images/illustration/berkeley.png">
                    </div>
                  </a>
                </li>
                <li>
                  <a href="/images/illustration/merced.png" data-lightbox="true">
                    <div class="background-image-holder">
                      <img alt="image" class="background-image" src="/images/illustration/merced.png">
                    </div>
                  </a>
                </li>
                <li>
                  <a href="/images/illustration/ucla.png" data-lightbox="true">
                    <div class="background-image-holder">
                      <img alt="image" class="background-image" src="/images/illustration/ucla.png">
                    </div>
                  </a>
                </li>
                <li>
                  <a href="/images/illustration/football-player.png" data-lightbox="true">
                    <div class="background-image-holder">
                      <img alt="image" class="background-image" src="/images/illustration/football-player.png">
                    </div>
                  </a>
                </li>
                <li>
                  <a href="/images/illustration/hipster.png" data-lightbox="true">
                    <div class="background-image-holder">
                      <img alt="image" class="background-image" src="/images/illustration/hipster.png">
                    </div>
                  </a>
                </li>
                <li>
                  <a href="/images/illustration/student.png" data-lightbox="true">
                    <div class="background-image-holder">
                      <img alt="image" class="background-image" src="/images/illustration/student.png">
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>


  </div>
{{ end }}
