{{ define "content" }}
  <div class="main-container">
    <section class="page-title page-title-2 image-bg overlay parallax">
      <div class="background-image-holder">
        <img alt="Background Image" class="background-image" src="/images/quad/quad-cover-image.jpg">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2 class="uppercase mb8">quad</h2>
            <p class="lead mb0">Making college less stressful.</p>
          </div>
        </div>
      </div>
    </section>


    <section class="bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <h4 class="uppercase">Role</h4>
            <p class="mb30">Visual &amp; UX/UI Designer</p>
          </div>
          <div class="col-sm-3">
            <h4 class="uppercase">Platform</h4>
            <p class="mb30">Mobile - iOS &amp; Desktop - Web</p>
          </div>
          <div class="col-sm-6">
            <h4 class="uppercase">About Quad</h4>
            <p class="mb0">
              Quad is an edtech startup that aims to help college students have a better experience. Quad helps helps students keep track of their assignments so that they can worry less and enjoy their college experience.
            </p>
          </div>
        </div>
      </div>
    </section>


    <!--<section>
      <div class="container">
        <div class="row v-align-children">
          <div class="col-sm-4 col-md-offset-1 mb-xs-24">
            <h3 class="mb30 mb-xs-32">TL;DR</h3>
            <div class="mb40 mb-xs-24">
              <h5 class="uppercase bold mb16">The problem:</h5>
              <p class="fade-1-4 lead mb40">
                Designing
              </p>
            </div>
            <div class="mb40 mb-xs-24">
              <h5 class="uppercase bold mb16">The Solution:</h5>
              <p class="fade-1-4 lead mb40">
                For an easier
              </p>
            </div>
          </div>
          <div class="col-sm-4 col-sm-offset-1 text-center">
            <img alt="Screenshot" src="/images/quad/to-do-mobile.png">
          </div>
        </div>
      </div>
    </section>-->


    <section class="bg-secondary pb0">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text-center">
            <h3 class="mb30 mb-xs-24">An Approachable Style</h3>
            <p class="lead mb0">
              Quad's initial style guide had the app go for a sleek and sophisticated deisgn. But since their target audience is college students, the direction was taken into a more approachable design with a light base and colorful illustrations.
            </p>
          </div>
        </div>
      </div>
    </section>


    <section class="bg-secondary">
      <div class="container">
        <div class="row mb64 mb-xs-24">
          <div class="col-sm-12 text-center">
            <div class="col-md-3">
              <img alt="Pic" src="/images/quad/onboarding-1.png">
            </div>
            <div class="col-md-3">
              <img alt="Pic" src="/images/quad/onboarding-2.png">
            </div>
            <div class="col-md-3">
              <img alt="Pic" src="/images/quad/onboarding-3.png">
            </div>
            <div class="col-md-3">
              <img alt="Pic" src="/images/quad/onboarding-4.png">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
            <h3>Onboarding</h3>
            <p class="mb40 mb-xs-24">
                Foundry is a remarkably complete template offering you a plethora of handcrafted design elements. Whether promoting a product, service or portfolio - Foundry's unique and flexible style has you covered.
            </p>
          </div>
        </div>
      </div>
    </section>


    <section>
      <div class="container">
        <div class="row mb64 mb-xs-24">
          <div class="col-sm-12 text-center">
            <div class="col-md-2">
              <img alt="Pic" src="/images/quad/setup-1.png">
            </div>
            <div class="col-md-2">
              <img alt="Pic" src="/images/quad/setup-2.png">
            </div>
            <div class="col-md-2">
              <img alt="Pic" src="/images/quad/setup-3.png">
            </div>
            <div class="col-md-2">
              <img alt="Pic" src="/images/quad/setup-4.png">
            </div>
            <div class="col-md-2">
              <img alt="Pic" src="/images/quad/setup-5.png">
            </div>
            <div class="col-md-2">
              <img alt="Pic" src="/images/quad/setup-6.png">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
            <h3>Built by professionals, just for you.</h3>
            <p class="mb40 mb-xs-24">
                Foundry is a remarkably complete template offering you a plethora of handcrafted design elements. Whether promoting a product, service or portfolio - Foundry's unique and flexible style has you covered.
            </p>
          </div>
        </div>
      </div>
    </section>


  </div>
{{ end }}
