{{ define "content" }}
  <div class="main-container">
    <a id="title" class="in-page-link"></a>
    <section class="page-title page-title-2 image-bg overlay parallax">
      <div class="background-image-holder">
        <img alt="Background Image" class="background-image" src="/images/stroll-health-cover-image.jpg">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2 class="mb8 uppercase">Stroll health</h2>
            <p class="lead mb0">Designing a more transparent healthcare.</p>
          </div>
        </div>
      </div>
    </section><a id="basic-information" class="in-page-link"></a>


    <section class="bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <h3 class="number">Role</h3>
            <p>Lead Researcher &amp; UX/UI Designer</p>
          </div>
          <div class="col-sm-3">
            <h3 class="number">Platform</h3>
            <p>Desktop - Web</p>
          </div>
          <div class="col-sm-6">
            <h3>About Stroll Health</h3>
            <p>
              Stroll Health is a startup that aims to bring affordable healthcare to everyone by converting the paper heavy referral process to the digital world. This then also gives doctors the ability to provide referrals that is tailored to every person's insurance.
            </p>
          </div>
        </div>
      </div>
    </section><a id="tldr" class="in-page-link"></a>


    <section>
      <div class="container">
        <div class="row v-align-children">
          <div class="col-sm-4 col-md-offset-1 mb-xs-24">
            <h2 class="mb64 mb-xs-32">TL;DR</h2>
            <div class="mb40 mb-xs-24">
              <h5 class="uppercase bold mb16">The problem:</h5>
              <p class="fade-1-4 lead mb80">
                Developing a method for doctors and hospital administrators to create efficient daily operations by allowing them to identify problems in early stages and target exactly where it stems from.
              </p>
            </div>
            <div class="mb40 mb-xs-24">
              <h5 class="uppercase bold mb16">the solution:</h5>
              <p class="fade-1-4 lead mb80">
                For efficient operations, I made sure that the data was presented clearly and represented with the importance it deserves to allow the user to gain insight between the data and the business.
              </p>
            </div>
          </div>
          <div class="col-sm-5 col-sm-6 col-sm-offset-1 text-center">
            <img class="cast-shadow" alt="Screenshot" src="/images/final-dash.jpg">
          </div>
        </div>
      </div>
    </section><a id="design-process" class="in-page-link"></a>


    <section class="bg-secondary">
      <div class="container">
        <div class="row mb64 mb-xs-24">
          <div class="text-center col-sm-12">
            <div class="process-img">
              <img alt="Pic" src="/images/process.png">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
            <h2>Design Process</h2>
            <p class="lead mb80">With the 6-week time constraint, I decided to lead the team in a lean design approach so that we will never drift too far from our sense of empathy. The cycle of ideating, prototyping, and then validating was iterated as frequently as possible so that our designs would align with the needs and behaviors of the users.<br><br>I designated 2 weeks to researching with competitive analysis, personas, and user interviews. Then I would spend the next 4 weeks in the cycle with wireframing and lo-fidelity during ideation, hi-fidelity prototyping, and validation with user testing.&nbsp;</p>
          </div>
        </div>
      </div>
    </section><a id="captioned-images" class="in-page-link"></a>


    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
            <h2>Managing medical referral operations is difficult</h2>
            <p class="lead mb80">
                Within the 2 weeks that was dedicated to research, the team completed some competitive analysis with similar companies to Stroll Health and user interviews to find their needs and behaviors.
            </p>
          </div>
        </div>
      </div>
    </section>


    <section>
      <div class="container">
        <div class="row v-align-children">
          <div class="col-sm-5 mb-xs-24 col-md-5">
            <p class="lead mb80">
                I learned that management of referrals in hospital operations is very difficult. Healthcare is an experience that has been slow in transitioning to digital. Through research, I learned that the referral process has especially been stuck in the world of paper. This makes the management and data insights all the more difficult.<br><br>
                These are the key points that we took away:<br>
                <ul>
                  <li>Proper data visualization is very important</li>
                  <li>Must be very intuitive or it will not be considered given the fast paced nature of hospitals</li>
                  <li>Simple interface with structured information architecture</li>
                </ul>
            </p>
          </div>
          <div class="col-md-7 col-md-offset-1 col-sm-6 col-sm-offset-1 text-center">
            <img class="cast-shadow" alt="Screenshot" src="/images/research.jpg">
          </div>
        </div>
      </div>
    </section>


    <section class="image-edge pt120 pb120 pt-xs-40 pb-xs-40 bg-dark">
      <div class="col-sm-4 p0 col-md-push-6 col-sm-push-8 col-md-6">
        <img alt="Screenshot" src="/images/version-1.png">
      </div>
      <div class="container">
        <div class="col-md-pull-0 col-sm-7 col-sm-pull-4 v-align-transform col-md-4">
          <h2 class="mb40 mb-xs-16">Testing initial ideas</h2>
          <p class="lead mb80">
              With the research completed, the team prototyped version one of the dashboard. However, user interviews revealed some issues.
          </p>
          <div class="feature boxed">
            <p>
              "My eyes don't know where to start. It makes it overwhelming to take in at once."
            </p>
          </div>
        </div>
      </div>
    </section>


    <section class="bg-secondary">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h3 class="number">Ordering</h3>
            <p class="lead mb80">
                Information would be better absorbed if the KPIs are arranged in chronological order than by importance
            </p>
          </div>
          <div class="col-sm-4">
            <h3 class="number">Structure</h3>
            <p class="lead mb80">
                Importance should be shown through the information architecture which is weak in this version
            </p>
          </div>
          <div class="col-sm-4">
            <h3>Details</h3>
            <p class="lead mb80">
                Must have availability to view the data that makes up the information being presented on the dashboard
            </p>
          </div>
        </div>
      </div>
    </section>


    <section class="bg-dark">
      <div class="container">
        <div class="feed-item mb96 mb-xs-48">
          <div class="row mb16 mb-xs-0">
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 text-center">
              <h2>Hierarchy is important for simplicity</h2>
            </div>
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 text-center">
              <img alt="Article Image" class="mb32 mb-xs-16" src="/images/wireframe-and-labels.png">
              <p class="lead">
                  Out of the main issues that was presented by version one, the information architechture issue was the one that prompted the most important change. I wireframed a new structure for the dashboard.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section>
      <div class="container">
        <div class="row mb64 mb-xs-24">
          <div class="col-sm-12 col-md-10 col-md-offset-1 text-center">
            <h2>Accommodating Colors &amp; Visible Type</h2>
          </div>
        </div>
        <div class="row">
          <div class="text-center col-sm-6">
            <div class="feature">
              <div class="text-center">
                <img alt="Pic" class="mb40" src="/images/color-palette.png">
                <h5 class="uppercase bold mb16">color palette</h5>
              </div>
              <p class="lead mb80">Color blind friendly - Although color blind doctors are rare, it could be more common within administrators.<br>No colors that symbolize negativity/positivity - i.e. Data represented in red could misrepresent positive data.</p>
            </div>
          </div>
          <div class="text-center col-sm-6">
            <div class="feature">
              <div class="text-center">
                <img alt="Pic" class="mb40" src="/images/typography.png">
                <h5 class="uppercase bold mb16">Lato - San serif</h5>
              </div>
              <p class="lead mb80">I decided on a san serif font to not have the type draw too much focus from the labels or more importantly, the data that is represented in the dashboard. It would ensure readability especially for graph labels.</p>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section>
      <div class="container">
        <div class="feed-item mb96 mb-xs-48">
          <div class="row mb16 mb-xs-0">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
              <h2>Be the eyes in the sky</h2>
              <h5 class="uppercase bold mb16">Version 2</h5>
            </div>
          </div>
          <div class="row mb32 mb-xs-16">
            <div class="col-md-offset-1 col-sm-10 col-sm-offset-1 col-md-10 text-center">
              <img alt="Article Image" class="mb32 mb-xs-16" src="/images/final-with-labels.jpg">
              <p class="lead mb80">
                  We developed a clean, modern interface that highlighted the transparency that was ideal for managing operations. Data was also presented as actionable so that users are able to achieve efficiency with the insights that the dashboard provides. Some of the features were highlighted below.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section>
      <div class="container">
        <div class="row v-align-children">
          <div class="col-md-7 col-sm-6 text-center mb-xs-24">
            <img alt="Screenshot" src="/images/drilldown-feature.png">
          </div>
          <div class="col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-1">
            <h3>Drilldowns: How I got these numbers</h3>
            <p class="lead mb80">
                Every number and graph was generated by individual data points. Doctors and administrators are able to view the status of current and past patients.
            </p>
          </div>
        </div>
      </div>
    </section>


    <section>
      <div class="container">
        <div class="row v-align-children">
          <div class="col-md-7 col-sm-6 text-center mb-xs-24">
            <img alt="Screenshot" src="/images/benchmark-feature.png">
          </div>
          <div class="col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-1">
            <h3>Benchmarks: Setting goals</h3>
            <p class="lead mb80">
                Setting benchmarks make the data on the dashboards able to answer the question: "Are the changes I made helping me in reaching my goals?"
            </p>
          </div>
        </div>
      </div>
    </section>


    <section>
      <div class="container">
        <div class="row v-align-children">
          <div class="col-md-7 col-sm-6 text-center mb-xs-24">
            <img class="cast-shadow" alt="Screenshot" src="/images/comparison-feature.png">
          </div>
          <div class="col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-1">
            <h3>Comparisons: See if you're doing better than your work rival</h3>
            <p class="lead mb80">
                Many doctors and administrators in the health field admitted to their competitive nature and loved this feature. This feature allows them to compare themselves to others. Some friendly competition could be in order to see who is more efficient!
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
{{ end }}
