html {
  height: 100%;
}

body {
  margin: 0px;
}

ul {
  list-style: disc;
}

.no-bullets {
  list-style: none;
}

.home-icons {
  padding-left: 10px;
  padding-right: 10px;
}

.social-links {
  height: 20px;
}

.profile-photo {
  margin: auto;
  width: 20%;
}

.process-img {
  margin: auto;
  width: 75%;
}

