<footer class="footer-2 bg-dark text-center-xs">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <a href="/">
          <div class="vnu">
            <img class="image-xxs fade-half mb16" alt="Pic" src="/images/logo-dark.png">
          </div>
        </a>
      </div>

      <div class="col-sm-4 text-center mb16">
        <span class="fade-half">
          © 2017 Saeam Kwon
        </span>
      </div>

      <div class="col-sm-4 text-right text-center-xs">
        <ul class="list-inline social-list social-links">
          <li>
            <a href="https://www.linkedin.com/in/saeamkwon">
              <img src="/images/linkedin-icon.png" height="25">
            </a>
          </li>
          <li>
            <a href="https://twitter.com/minikwons">
              <img src="/images/twitter-icon.png" height="25">
            </a>
          </li>
          <li>
            <a href="https://dribbble.com/saeam">
              <img src="/images/dribbble-icon.png" height="25">
            </a>
          </li>
          <li>
            <a href="https://github.com/minikwon/">
              <img src="/images/github-icon.png" height="25">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
