<div class="nav-container"><nav>
  <div class="nav-bar">
      <div class="module left">
          <a href="index.html">
            <img class="logo logo-light" alt="Foundry" src="img/logo-light.png">
            <img class="logo logo-dark" alt="Foundry" src="img/S A E A M K W O N-dark.png">
          </a>
        </div>
        <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
          <i class="ti-menu"></i>
        </div>
        <div class="module-group right">
          <div class="module left">
            <ul class="menu">
              <li>
                <a href="#">projects</a>
              </li><li class="vpf">
                <a href="#">illustrations</a>
              </li><li class="vpf">
                <a href="#">about</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
</div>
