<div class="nav-container">
  <nav>
    <div class="nav-bar cast-shadow">
      <div class="module left">
          <a href="/">
            <img class="logo logo-dark" src="/images/logo.png">
          </a>
        </div>
        <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
          <img src="/images/mobile-hamburger.png" height="20px">
        </div>
        <div class="module-group right">
          <div class="module left">
            <ul class="menu no-bullets">
              <li>
                <a href="/">projects</a>
              </li><li class="vpf">
                <a href="/illustrations">illustrations</a>
              </li><li class="vpf">
                <a href="/about">about</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
</div>
